
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}

<script src="~/Content/FW/LayuiZtree.js"></script>
<input type="hidden" id="ScriptSelect" value="@ViewBag.ScriptSelect" />
<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        上级类型
        <div class="layui-input-inline">
            <input type="text" name="PID" id="PID">
        </div>
        类型名称
        <div class="layui-input-inline">
            <input type="text" id="NAME" name="NAME" value="" placeholder="" class="layui-input search_input">
        </div>
        <button class="layui-btn search_btn" onclick="Query();"><i class="layui-icon layui-icon-search"></i>查询</button>
        <button class="layui-btn search_btn" onclick="ExportFile();"><i class="layui-icon layui-icon-exl"></i>导出</button>
        <button class="layui-btn search_btn" onclick="Add();"><i class="layui-icon layui-icon-weibiaoti2010104"></i>新增</button>
    </div>
</blockquote>

<!--表格显示-->
<table class="layui-table" lay-size="sm" lay-data="{height: 'full-73',id:'datatable', url:'../AfScriptType/GetList', page:{limit:20, layout:['refresh', 'prev', 'page', 'next', 'skip', 'limit', 'count']}, skin: 'row', even: true}" lay-filter="tablefilter">
    <thead>
        <tr>
            <th lay-data="{ field: 'ID', align: 'center', width: 50, sort: true, fixed: 'left' }">ID</th>
            <th lay-data="{ field: 'NAME', minWidth: 120,sort: true}">类型名称</th>
            <th lay-data="{ field: 'PNAME', minWidth: 120, sort: true}">上级类型</th>
            <th lay-data="{ field: 'CREATENAME', minWidth: 100, sort: true}">创建者</th>
            <th lay-data="{ field: 'CREATE_TIME', width: 135,align: 'center', sort: true}">创建时间</th>
            <th lay-data="{ field: 'UPDATENAME', minWidth: 100, sort: true}">最后更新者</th>
            <th lay-data="{ field: 'UPDATE_TIME', width: 135, align: 'center',sort: true}">最后更新时间</th>
            <th lay-data="{ field: 'REMARK', minWidth: 120}">备注</th>
            <th lay-data="{ width: 100, align: 'left', toolbar: '#operation', fixed: 'right' }">操作</th>
        </tr>
    </thead>
</table>

<!-- 操作-->
<script type="text/html" id="operation">
    <span class="layui-badge layui-bg-green" lay-event="edit">编辑</span>
    <span class="layui-badge" lay-event="del">删除</span>
</script>

<!-- 表格事件-->
<script src="~/Views/AfScriptType/JS/Index.js"></script>