@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
<script src="~/Views/Home/JS/Default.js"></script>
<link href="~/Views/Home/CSS/default.css" rel="stylesheet" />
<!-- 引入 ECharts 文件 -->
@*<script src="~/Views/Home/JS/echarts.min.js"></script>*@
<div class="larry-container animated fadeIn larry-bg-gray layui-form">
    <!-- 快捷导航 -->
    <div class="layui-row larry-shortcut layui-col-space15 topDiv" id="shortcut" >
        <!--<div class="layui-col-xs6 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">-->
        <button class="layui-btn layui-btn-normal topBut"><i class="layui-icon layui-icon-friends"></i>口径任务</button>
        <button class="layui-btn layui-btn-normal topBut"><i class="layui-icon layui-icon-shouye4"></i>客户经理</button>
        <button class="layui-btn layui-btn-normal topBut"><i class="layui-icon layui-icon-Calculator"></i>抢盘计算</button>

        <button class="layui-btn layui-btn-warm topBut"><i class="layui-icon layui-icon-good"></i>经理积分</button>
        <button class="layui-btn layui-btn-warm topBut"><i class="layui-icon layui-icon-iconfontstop"></i>经理薪酬</button>
        <button class="layui-btn layui-btn-warm topBut"><i class="layui-icon layui-icon-dollar"></i>集团收入</button>

        <button class="layui-btn layui-btn-danger topBut"><i class="layui-icon layui-icon-caidanshejishi"></i>用户管理</button>
        <button class="layui-btn layui-btn-danger topBut" ><i class="layui-icon layui-icon-laba2"></i>通知公告</button>
        <button class="layui-btn layui-btn-danger topBut" ><i class="layui-icon layui-icon-903caidan_bangzhu"></i>帮助说明</button>

    </div>
    <!-- 面板 -->
    <div class="layui-row layui-col-space15">
        <!-- 待处理工单统计 区县-->
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
            <section class="larry-panel" style="width:100%;text-align:center">
                <img id="FlowChart" src="~/Views/Home/img/Flow.png" usemap="#flowMap" style="width:90%" />
                <map name="flowMap" id="flowMap">
                    <area shape="circle" coords="307,21,435,85" href="test1.html" alt="test1" />
                    <area shape="circle" coords="129,161,10" href="test2.html" alt="test2" />
                    <area shape="rect" coords="0,0,110,260" href="test3.html" alt="test3" />
                </map>
            </section>
        </div>
        <!-- 不合格工单统计 区县-->
       
    </div>
    <!-- 升级购买 -->
    <div class="layui-row layui-col-space15">
    </div>
</div>
