@{
    Layout = "~/Views/Shared/_Content.cshtml";
}

<blockquote class="layui-elem-quote">
    <div class="layui-inline layui-form">
        数据库名称
        <div class="layui-input-inline">
            <input type="text" id="NAME" name="NAME" value="" placeholder="" class="layui-input search_input">
        </div>
        数据库IP
        <div class="layui-input-inline">
            <input type="text" id="IP" name="IP" value="" placeholder="" class="layui-input search_input">
        </div>
        数据库类型
        <div class="layui-input-inline">
            <select id="DB_TYPE" name="DB_TYPE" lay-filter="aihao">
                <option value="0">全部</option>
                @foreach (var item in ViewBag.DIC_DB_TYPE)
                {
                    <option value="@item.Key">@item.Value</option>
                }
            </select>
        </div>
        <button class="layui-btn search_btn" onclick="Query();"><i class="layui-icon layui-icon-search"></i>查询</button>
        <button class="layui-btn search_btn" onclick="ExportFile();"><i class="layui-icon layui-icon-exl"></i>导出</button>
        <button class="layui-btn search_btn" onclick="Add();"><i class="layui-icon layui-icon-weibiaoti2010104"></i>新增</button>
    </div>
</blockquote>
<!-- 枚举值-->
<script type="text/javascript">
    var dbtype = new Array();
    @foreach (var item in ViewBag.DIC_DB_TYPE)
    {
        <text>
        dbtype['@item.Key']="@item.Value";
        </text>
    }
</script>

<!--表格显示-->
<table class="layui-table" lay-size="sm" lay-data="{id:'datatable', height: 'full-73', url:'../AfDB/GetList', page:{limit:20, layout:['refresh', 'prev', 'page', 'next', 'skip', 'limit', 'count']}, skin: 'row', even: true}" lay-filter="tablefilter">
    <thead>
        <tr>
            <th lay-data="{ field: 'ID', width: 60, sort: true, fixed: 'left' }">ID</th>
            <th lay-data="{ field: 'NAME', minWidth: 100, sort: true }">数据库名称</th>
            <th lay-data="{ field: 'DB_TYPE', width: 80, sort: true, templet: '#tmpdbtype' }">类型</th>
            <th lay-data="{ field: 'IP', minWidth: 120, sort: true }">IP地址</th>
            <th lay-data="{ field: 'PORT', width: 80, sort: true }">端口号</th>
            <th lay-data="{ field: 'USER_NAME', minWidth: 100, sort: true }">用户名</th>
            <th lay-data="{ field: 'DB_NAME', minWidth: 100, sort: true }">实例名</th>
            <th lay-data="{ field: 'UPDATE_TIME', minWidth: 135, sort: true }">最后更新时间</th>
            <th lay-data="{ field: 'REMARK', minWidth: 100 }">备注</th>
            <th lay-data="{ minWidth: 120, align: 'left', toolbar: '#operation', fixed: 'right' }">操作</th>
        </tr>
    </thead>
</table>

<!-- 枚举值 -->
<script type="text/html" id="tmpdbtype">
    <span>
      {{ dbtype[d.DB_TYPE] }}
    </span>
</script>

<!-- 操作-->
<script type="text/html" id="operation">
    <span class="layui-badge layui-bg-green" lay-event="edit">编辑</span>
    <span class="layui-badge" lay-event="del">删除</span>
</script>

<!-- 表格事件-->
<script src="~/Views/AfDB/JS/Index.js?v=20181214"></script>