@using System.Web.Mvc.Html
@using CS.Base.Config
@{
    Layout = "~/Views/Shared/_Content.cshtml";
}
@model CS.BLL.FW.BF_FLOW.Entity

<form id="form" class="layui-form" action="" method="post">
    <div class="form-top-content">
       
    </div>
</form>
<script type="text/javascript" src="~/Content/jsPlumb/jquery.jsPlumb-1.7.2.js"></script>
