@{
    Layout = "~/Views/Shared/_Content.cshtml";
}

<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        字段英文名
        <div class="layui-input-inline">
            <input type="text" id="EN_NAME" name="EN_NAME" value="" placeholder="" class="layui-input search_input">
        </div>
        字段中文名
        <div class="layui-input-inline">
            <input type="text" id="CN_NAME" name="CN_NAME" value="" placeholder="" class="layui-input search_input">
        </div>
        <button class="layui-btn search_btn" onclick="Query();"><i class="layui-icon layui-icon-search"></i>查询</button>
        <button class="layui-btn search_btn" onclick="ExportFile();"><i class="layui-icon layui-icon-exl"></i>导出</button>
        <button class="layui-btn search_btn" onclick="Add();"><i class="layui-icon layui-icon-weibiaoti2010104"></i>新增</button>
    </div>
</blockquote>

<!-- 枚举值-->
<script type="text/javascript">
    var datatype = new Array();
    datatype[0] = "-";
    @foreach (var item in ViewBag.DIC_DATA_TYPE)
    {
        <text>
        datatype['@item.Key'] = "@item.Value";
        </text>
    }

</script>

<!--表格显示-->
<table class="layui-table" lay-size="sm" lay-data="{height: 'full-73',id:'datatable', url:'../AfFieldDisplay/GetList', page:{limit:20, layout:['refresh', 'prev', 'page', 'next', 'skip', 'limit', 'count']}, skin: 'row', even: true}" lay-filter="tablefilter">
    <thead>
        <tr>
            <th lay-data="{ checkbox: true, fixed: 'left' }"></th>
            <th lay-data="{ field: 'ID', width: 60, sort: true }">ID</th>
            <th lay-data="{ field: 'EN_NAME', minWidth: 150, sort: true }">字段英文名</th>
            <th lay-data="{ field: 'CN_NAME', minWidth: 150, sort: true }">字段中文名</th>
            <th lay-data="{ field: 'FIELD_DATA_TYPE', width: 80, sort: true, templet: '#tmpdatatype' }">字段类型</th>
            <th lay-data="{ field: 'IS_REQUISITE', width: 80, sort: true, templet: '#tmprequisite' }">是否必须</th>
            <th lay-data="{ field: 'IS_SHOW', width: 80, sort: true, templet: '#tmpisshow' }">是否显示</th>
            <th lay-data="{ field: 'SHOW_WIDTH', width: 100, sort: true, templet: '#tmpshowwidth' }">显示宽度</th>
            <th lay-data="{ field: 'CREATE_TIME',  sort: true,width: 135 }">创建时间</th>
            <th lay-data="{ field: 'UPDATE_TIME',  sort: true,width: 135 }">最后更新时间</th>
            <th lay-data="{ width: 120, align: 'left', toolbar: '#operation', fixed: 'right' }">操作</th>
        </tr>
    </thead>
</table>

<!-- 枚举值 -->
<script type="text/html" id="tmpdatatype">
    <span>
        {{ datatype[d.FIELD_DATA_TYPE] }}
    </span>
</script>
<script type="text/html" id="tmprequisite">
    {{#  if(d.IS_REQUISITE == '1'){ }}
    必须
    {{#  } else { }}
    可选
    {{#  } }}
</script>
<script type="text/html" id="tmpisshow">
    {{#  if(d.IS_SHOW == '1'){ }}
    显示
    {{#  } else { }}
    不显示
    {{#  } }}
</script>
<script type="text/html" id="tmpshowwidth">
    {{#  if(d.IS_SHOW == '1'){ }}
    {{ d.SHOW_WIDTH }}像素
    {{#  } else { }}
    不显示
    {{#  } }}
</script>

<!-- 操作-->
<script type="text/html" id="operation">
    <span class="layui-badge layui-bg-green" lay-event="edit">编辑</span>
    {{# if(d.IS_DEFAULT != '1') { }}
    <span class="layui-badge" lay-event="del">删除</span>
    {{# } }}
</script>

<!-- 表格事件-->
<script src="~/Views/AfFieldDisplay/JS/Index.js"></script>